version: '2'

services:
  keycloak:
    image: jboss/keycloak:7.0.1
    environment:
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=admin
      - KEYCLOAK_IMPORT=/tmp/test-realm.json
    volumes:
      - ./test-realm.json:/tmp/test-realm.json
    ports:
      - "8080"
