version: '2'

services:
  keycloak:
    image: keycloak/keycloak:26.5.1
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
    command:
      - "start-dev"
      - "--import-realm"
      - "--http-relative-path=/auth"
    volumes:
      - ./test-realm.json:/opt/keycloak/data/import/test-realm.json
    ports:
      - "8080"
